@import '/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.Gazification{
    max-width: 2500px;
    height: auto;
    display: flex;
    position: absolute;
    top: 7px; /* Прикрепить шапку к верху экрана */
    /* Дополнительные стили для вашей шапки */
    font-family: "Cera Pro Light", sans-serif;
}



.gazification_1{
    width: 2500px;
    position: absolute;
    background-color: #ffffff;
    height: 640px;
    margin-top: -10px;
    z-index: 1;
}

.gazification_1_title{
    position: absolute;
    margin-left: 530px;
    margin-top: 230px;
    color: black;
    font-size: 48px;
    font-family: "Cera Pro Bold", sans-serif;
    z-index: 1;
}

.gazification_1_text{
    position: absolute;
    margin-left: 530px;
    margin-top: 350px;
        color: black;
    width: 900px;
    font-size: 28px;
        font-family: "Cera Pro Medium", sans-serif;
    z-index: 1;
}

.gazification_1_img{
    width: 700px;
    margin-left: 1320px;
    margin-top: 130px;
    position: absolute;
    z-index: 0;
}

.gazification_fon_img{
    width: 2465px;
    height: 630px;
    z-index: -1;

}


.gazification_2{
    position: absolute;
    width: 2500px;
    height: 705px;
    background-color: rgba(246, 245, 245, 0.97);
    margin-top: 630px;

}

.gazification_2_title_1{
    color: black;
    position: absolute;
    margin-left: 350px;
    font-size: 28px;
    font-family: "Cera Pro Medium", sans-serif;
    width: 500px;
    margin-top: 180px;
}

.gazification_2_title_text{
    color: black;
    width: 350px;
    position: absolute;
    font-size: 16px;
    margin-left: 352px;
    margin-top: 310px;
}

.gazification_2_block{
    position: absolute;
    margin-top: -220px;
}

.gazification_2_block_1{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1050px;
    margin-top: 300px;
}

.gazification_2_block_1:hover,
.gazification_2_block_2:hover,
.gazification_2_block_3:hover,
.gazification_2_block_4:hover,
.gazification_2_block_5:hover,
.gazification_2_block_6:hover{
    background: linear-gradient( 135deg, rgba(79, 243, 6, 0.4), rgba(61, 164, 49, 0.6), rgba(45, 140, 117, 0.6), rgb(12, 106, 227, 0.6), rgba(0,55,251, 0.6));
    transition: transform 1s;
}


.gazification_2_block_1:hover .gazification_2_block_1_text_1,
.gazification_2_block_2:hover .gazification_2_block_1_text_1,
.gazification_2_block_3:hover .gazification_2_block_1_text_1,
.gazification_2_block_4:hover .gazification_2_block_1_text_1,
.gazification_2_block_5:hover .gazification_2_block_1_text_1,
.gazification_2_block_6:hover .gazification_2_block_1_text_1    {
    color: white;
}

.gazification_2_block_1:hover .gazification_2_block_1_text_2,
.gazification_2_block_2:hover .gazification_2_block_1_text_2,
.gazification_2_block_3:hover .gazification_2_block_1_text_2,
.gazification_2_block_4:hover .gazification_2_block_1_text_2,
.gazification_2_block_5:hover .gazification_2_block_1_text_2,
.gazification_2_block_6:hover .gazification_2_block_1_text_2    {
    color: white;
}

.gazification_2_block_1:hover .gazification_2_block_1_number,
.gazification_2_block_2:hover .gazification_2_block_1_number,
.gazification_2_block_3:hover .gazification_2_block_1_number,
.gazification_2_block_4:hover .gazification_2_block_1_number,
.gazification_2_block_5:hover .gazification_2_block_1_number,
.gazification_2_block_6:hover .gazification_2_block_1_number    {
    color: white;
}


/*.gazification_2_block_6:hover .gazification_2_block_1_text_1{*/
/*    color: white;*/
/*}*/

.gazification_2_block_1_text_1{
    color: black;
    margin-top: 60px;
    margin-left: 15px;
    font-size: 18px;
    font-family: "Cera Pro Regular", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.gazification_2_block_1_text_2{
    color: black;
    margin-left: 15px;
    font-size: 16px;
    font-family: "Cera Pro Light", sans-serif;
}


.gazification_2_block_1_number{
    width: 50px;
    height: 50px;
    font-family: "Cera Pro Regular",sans-serif;
    font-size: 40px;
    color: black;
    margin-left: 230px;
    margin-top: -30px;
    overflow: hidden;
}


.gazification_2_block_2{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1400px;
    margin-top: 300px;
}

.gazification_2_block_3{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1750px;
    margin-top: 300px;
}

.gazification_2_block_4{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1050px;
    margin-top: 600px;

}

.gazification_2_block_5{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1400px;
    margin-top: 600px;
}

.gazification_2_block_6{
    position: absolute;
    width: 300px;
    height: 250px;
    border-radius: 3%;
    margin-left: 1750px;
    margin-top: 600px;
}




















.geo_uslugi{
    width: 2500px;
    height: auto;
    position: absolute;
    margin-top: 1950px;
    display: flex;
    margin-left: 200px;
}

.geo_uslugi_title{
    color: black;
    font-size: 48px;
    font-family: "Cera Pro bold", sans-serif;
    position: absolute;
    margin-top: -550px;
    margin-left: 900px;
}

.geo_body_uslugi{
    position: absolute;
    font-size: 60px;
    margin-left: 745px;
}


.geo_body_uslugi_box1{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 250px;
    margin-top: -275px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box1_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -168px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_1{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 105px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price{
    position: absolute;
    margin-top: 75px;
    margin-left: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}


.geo_body_uslugi_box2{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 650px;
    margin-top: -275px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box2_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_2{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text2{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 105px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price2{
    position: absolute;
    margin-top: 75px;
    margin-left: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}


.ambilight {
    filter: url(#ambilight);
}

.geo_body_uslugi_box3{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 1050px;
    margin-top: -275px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box3_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_3{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text3{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 105px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price3{
    position: absolute;
    margin-top: 75px;
    margin-left: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
        color: #0003ff;
}


.geo_body_uslugi_box4{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 1450px;
    margin-top: -275px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box4_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_4{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text4{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 105px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price4{
    position: absolute;
    margin-top: 75px;
    margin-left: 15px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: normal;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}



.geo_body_uslugi_box5{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 250px;
    margin-top: 190px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box5_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_5{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text5{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 110px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price5{
    position: absolute;
    margin-top: 75px;
    margin-left: 15px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}



.geo_body_uslugi_box6{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 650px;
    margin-top: 190px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box6_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_6{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text6{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 110px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price6{
    position: absolute;
    margin-top: 75px;
    margin-left: 15px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}


.geo_body_uslugi_box7{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 1050px;
    margin-top: 190px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box7_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_7{
    margin-top: 20px;
    width: 330px;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Cera Pro Bold", serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text7{
    font-size: 16px;
    color: #000000;
        font-family: a_FuturaOrtoLt, serif;
    margin-top: 110px;
    margin-left: 15px;
    width: 320px;

}

.geo_body_price7{
    position: absolute;
    margin-top: 75px;
    margin-left: 15px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}


.geo_body_uslugi_box8{
   width: 355px;
   height: 250px;
   background-color: white;
   position: absolute;
   border-radius: 0px 0px 8px 8px;
   margin-left: 1450px;
    margin-top: 190px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        transition: transform 0.1s ease; /* Добавил анимацию */
}


.geo_body_box8_image{
    width: 355px;
    height: 170px;
    align-items: center;
    border-radius: 8px 8px 0 0;
    margin-left: 0px;
    margin-top: -170px;
    position: absolute;
    z-index: 1;
    /*animation: unrotate 20s linear infinite;*/
}

.geo_body_uslugi_box_title_8{
    margin-top: 20px;
    width: 330px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: a_FuturaOrtoBold, serif;
    position: absolute;
        color: #000000;
        line-height: 1; /* Уменьшаем расстояние между строками */
}

.geo_body_text8{
    font-size: 16px;
    color: #000000;
    font-family: "Cera Pro Regular", serif;
    margin-top: 105px;
    margin-left: 20px;
    width: 320px;

}

.geo_body_price8{
    position: absolute;
    margin-top: 75px;
    margin-left: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: 900;
    font-family: "Cera Pro Bold", serif;
    color: #0003ff;
}

.geo_body_uslugi_box1:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box2:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box3:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box4:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box5:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box6:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box7:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}

.geo_body_uslugi_box8:hover {
    transform: scale(1.01); /* При наведении карточка немного увеличивается */
}


        /*   BOX ANIMATION      */



.geo_body_uslugi_box1:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box2:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box3:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box4:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box5:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box6:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box7:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.geo_body_uslugi_box8:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.geo_body_uslugi_box1:hover {
   filter: url(#ambilight);
}

.geo_body_uslugi_box2:hover {
    filter: url(#ambilight);
}

.geo_body_uslugi_box3:hover {
    filter: url(#ambilight);
}

.geo_body_uslugi_box4:hover {
    filter: url(#ambilight);
}

.geo_body_uslugi_box5:hover {
    filter: url(#ambilight);
}

.geo_body_uslugi_box6:hover {
    filter: url(#ambilight);
}

.geo_body_uslugi_box7:hover {
    filter: url(#ambilight);
}


.geo_body_uslugi_box8:hover {
    filter: url(#ambilight);
}




.gazification_pdf{
    width: 2500px;
    position: absolute;
    height: 900px;
    background-color: rgba(246, 245, 245, 0.97);
    margin-left: -200px;
    margin-top: 550px;
}

.gazification_pdf_title{
    color: black;
    position: absolute;
    font-family: "Cera Pro bold", sans-serif;
    font-size: 48px;
    margin-left: 1070px;
}

.gazification_pdf_box{

}

.gazification_pdf_box_1{

}

.gazification_pdf_box_img{
    position: absolute;
    width: 200px;
    margin-top: ;
}

.gazification_pdf_box_title_1{

}

.gazification_pdf_box_text_1{

}

.gazification_pdf_box_upload{

}