@import '/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.Header{
    width: 2500px;
    position: absolute;
    background-color: white;
    height: auto;
    top: 1px;
}

.header_header{
    width: 2500px;
    position: absolute;
    background-color: white;
    height: auto;
}

.header_logo{
    width: 42px;
    height: 35px;
    margin-left: 40px;
    margin-top: 5px;
    position: fixed;
    z-index: 1999;
}

.header_logo_2{
    width: 120px;
    height: 15px;
    margin-left: 87px;
    margin-top: 13px;
    position: fixed;
    z-index: 1999;
}

.header_phone{
    margin-left: -500px;
    width: 2500px;
    height: 1250px;
}


   .header_menu_supply {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 15px;
        z-index: 1999;
    }

       .header_animation_square{
            position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: 2400px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */ /* Тот же отступ сверху, что и у .menu_supply */
    display: block; /* Больше, чем у .menu_supply */
           z-index: 1999;
    }

    .header_black_square {
    position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: 55px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */
    margin-top: 1px; /* Тот же отступ сверху, что и у .menu_supply */
    z-index: 2000; /* Больше, чем у .menu_supply */
    background-color: rgba(255, 255, 255); /* Черный цвет фона */
    overflow-x: hidden;
}

        .header_black_square2 {
    position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: -55px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */
    margin-top: 1px; /* Тот же отступ сверху, что и у .menu_supply */
    z-index: 2000; /* Больше, чем у .menu_supply */
    background-color: rgba(255, 255, 255); /* Черный цвет фона */

}



        @keyframes menu1 {
            0%{
                opacity: 1;
            }

            100%{
                transform: translateX(+100%);
            }
        }

        .header_menu_supply2 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 20px;
        z-index: 1999;
    }

            .header_menu_supply3 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 30px;
        z-index: 1999;
    }

            .header_menu_supply4 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 15px;
        z-index: 1999;
        opacity: 0;
    }

            .header_menu_supply5 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 20px;
        z-index: 1999;
                  opacity: 0;
    }

            .header_menu_supply6 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 30px;
        z-index: 1999;
                        opacity: 0;
    }

        @keyframes menu2 {
            0%{
                opacity: 1;
            }

            100%{
                transform: translateX(+100%);
                opacity: 1;
            }
        }

.header_animation_square:hover .header_menu_supply {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
}

.header_animation_square:hover .header_menu_supply2 {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.1s; /* Например, задержка в 0.5 секунды */
}

.header_animation_square:hover .header_menu_supply3 {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.2s; /* Например, задержка в 1 секунду */
}

.header_animation_square:hover .header_menu_supply4 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
}

.header_animation_square:hover .header_menu_supply5 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.1s; /* Например, задержка в 0.5 секунды */
}

.header_animation_square:hover .header_menu_supply6 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.2s; /* Например, задержка в 1 секунду */
}



        @keyframes menu3 {
            0%{
                opacity: 1;
                transform: translateX(+100%)

            }

            100%{
                transform: translateX(0%);
                opacity: 1;
            }
        }
                @keyframes menu4 {
            0%{
                opacity: 1;
                transform: translateX(+100%)

            }

            100%{
                transform: translateX(0%);
                opacity: 1;
            }
        }


.header_animation_square:not(:hover) .header_menu_supply,
.header_animation_square:not(:hover) .header_menu_supply2,
.header_animation_square:not(:hover) .header_menu_supply3 {
    animation: menu3 1s backwards;
    animation-iteration-count: 1;
}

.header_animation_square:not(:hover) .header_menu_supply2 {
    animation-delay: 0.1s;
}

.header_animation_square:not(:hover) .header_menu_supply3 {
    animation-delay: 0.2s;
}

.header_animation_square:not(:hover) .header_menu_supply4,
.header_animation_square:not(:hover) .header_menu_supply5,
.header_animation_square:not(:hover) .header_menu_supply6{
    animation: menu4 1s backwards;
    animation-iteration-count: 1;
}

.header_animation_square:not(:hover) .header_menu_supply5 {
    animation-delay: 0.1s;
}

.header_animation_square:not(:hover) .header_menu_supply6 {
    animation-delay: 0.2s;
}

/*.header_bgc{*/
/*    width: 2500px;*/
/*    height: 1000px;*/
/*    position: absolute;*/
/*    margin-left: -1250px;*/


/*}*/

.header_menu{
    display: flex;
    color: black;
    position: absolute;
    margin-left: 1400px;
}

.header_menu a{
    color: black;
    z-index: 999;
    font-family: "Cera Pro Regular", sans-serif;
        white-space: nowrap;
}

.header_menu p{
    color: black;
    z-index: 999;
        white-space: nowrap;
}

.header_menu_supply_activate{
    width: 2500px;
    height: 1330px;
    background-color: black;
    margin-top: -41px;
    position: fixed;
    z-index: 9999;
}

.header_menu_supply_activate_close{
    margin-left: 1453px;
    position: absolute;
    z-index: 1112;
    margin-top: 600px;
    width: 55px;
    height: 55px;
}

.header_menu_opacity_bgc{
    width: 800px;
    height: 1330px;
    background-color: black;
    margin-top: -50px;
    margin-left: 1480px;
    position: absolute;
    z-index: 1111;
}

.scaled-iframe-container {
    transform: scale(0.59);
    transform-origin: 0 0;
    width: 3500px; /* Удвоение размера контейнера для компенсации масштабирования */
    height: 200%;
    overflow: auto; /* Скрытие частей сайта, выходящих за пределы контейнера */
}

.scaled-iframe-container iframe {
    width: 72%;
    height: 65%;
    margin-top: 250px;
    margin-left: 10px;
}


.header_menu_menu{
    position: absolute;
    width: 500px;
    height: 800px;
    margin-left: 1630px;
    margin-top: -2350px;
    z-index: 9999;
}

.header_menu_menu a{
    color: white;
    display: flex;
    font-size: 30px;
    margin-top: 35px;
    font-family: "Cera Pro Regular", sans-serif;
}

.header_menu_menu a:hover{
    color: #18b472;

}

.header_menu_menu a:nth-child(6){
    margin-top: 150px;
    font-size: 18px;
}

.header_menu_menu a:nth-child(7){
    font-size: 18px;
}

/*.header_menu_menu_1{*/

/*}*/

/*.header_menu_menu_2{*/

/*}*/

/*.header_menu_menu_3{*/

/*}*/

/*.header_menu_menu_4{*/

/*}*/

/*.header_menu_menu_4{*/

/*}*/

/*.header_menu_menu_5 a{*/
/*}*/

/*.header_menu_menu_6 a{*/

/*}*/














.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    margin-left: -900px;
    margin-top: 360px;
}


.header_top_comp_title_1{
    position: absolute;

}

.header_top_comp_title_2{
    position: absolute;

}

.header_top_comp_title_3{
    position: absolute;

}

.header_top_comp_title_4{
    position: absolute;

}

.header_top_comp_title_5{
    position: absolute;

}

.header_top_comp_title_6{
    position: absolute;

}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes unrotateCircle {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.header_top_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  animation: rotateCircle 60s infinite linear;
  margin-left: -1750px; /* Adjusted for the specific needs of your layout */
  margin-top: 200px; /* Adjusted for the specific needs of your layout */
  transform-origin: 250px 250px; /* Center of the circle */
}

.wrapper_div_1, .wrapper_div_2, .wrapper_div_3, .wrapper_div_4, .wrapper_div_5, .wrapper_div_6, .wrapper_div_7, .wrapper_div_8, .wrapper_div_9, .wrapper_div_10, .wrapper_div_11 {
  position: absolute;
  top: 50%;
  left: 50%;
   transform-origin: 250px 250px;
  /* Your transform will be inline-styled in React */
}

.header_top_circle_1, .header_top_circle_2, .header_top_circle_3, .header_top_circle_4, .header_top_circle_5, .header_top_circle_6, .header_top_circle_7, .header_top_circle_8, .header_top_circle_9, .header_top_circle_10, .header_top_circle_11 {
  width: 25%;
  transform: translate(-50%, -50%) rotate(var(--rotate)); /* Correct syntax */
  animation: unrotateCircle 60s infinite linear;
  transform-origin: center center;
  filter: grayscale(100%);
}

/*.header_top_circle {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    position: absolute;*/
/*    margin-top: 475px;*/
/*    margin-left: -1700px;*/

/*}*/

.logo_circle{
  margin-top: 650px;
  position: absolute;
  margin-left: 650px;
}

/*@keyframes spin {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

/*@keyframes spin1 {*/
/*    0% {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform: rotate(-360deg);*/
/*    }*/
/*}*/

/*.header_top_circle img {*/
/*    position: absolute;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*   transform-origin: 150px 150px; !* Указываем центр вращения, который находится в центре круга *!*/
/*      filter: grayscale(100%);*/
/*  transition: filter 0.3s ease; !* плавный переход при наведении *!*/
/*}*/


/*.wrapper_div_1 { transform: rotate(0deg) translate(250px) rotate(0deg); }*/
/*  .wrapper_div_2 { transform: rotate(32.73deg) translate(250px) rotate(-32.73deg); }*/
/*  .wrapper_div_3 { transform: rotate(65.46deg) translate(250px) rotate(-65.46deg); }*/
/*  .wrapper_div_4 { transform: rotate(98.19deg) translate(250px) rotate(-98.19deg); }*/
/*  .wrapper_div_5 { transform: rotate(130.92deg) translate(250px) rotate(-130.92deg); }*/
/*  .wrapper_div_6 { transform: rotate(163.65deg) translate(250px) rotate(-163.65deg); }*/
/*  .wrapper_div_7 { transform: rotate(196.38deg) translate(250px) rotate(-196.38deg); }*/
/*  .wrapper_div_8 { transform: rotate(229.11deg) translate(250px) rotate(-229.11deg); }*/
/*  .wrapper_div_9 { transform: rotate(261.84deg) translate(250px) rotate(-261.84deg); }*/
/*  .wrapper_div_10 { transform: rotate(294.57deg) translate(250px) rotate(-294.57deg); }*/
/*  .wrapper_div_11 { transform: rotate(327.3deg) translate(250px) rotate(-327.3deg); }*/

.header_top_circle img:hover {
  filter: url(#ambilight) grayscale(0%);
}

/*!* При наведении убрать черно-белый фильтр *!*/

/*.header_top_circle img:hover {*/
/*    filter: url(#ambilight) grayscale(0%);*/
/*}*/

/*.wrapper_div_1, .wrapper_div_2, .wrapper_div_3, .wrapper_div_4, .wrapper_div_5,*/
/*.wrapper_div_6, .wrapper_div_7, .wrapper_div_8, .wrapper_div_9, .wrapper_div_10,*/
/*.wrapper_div_11 {*/
/*       animation: spin 30s linear infinite;*/
/*       transform-origin: 150px 150px; !* Указываем центр вращения, который находится в центре круга *!*/
/*}*/


    /*.header_top_circle_1 { transform: rotate(0deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_2 { transform: rotate(32deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_3 { transform: rotate(65deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_4 { transform: rotate(97deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_5 { transform: rotate(130deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_6 { transform: rotate(162deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_7 { transform: rotate(195deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_8 { transform: rotate(227deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_9 { transform: rotate(260deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_10 { transform: rotate(292deg) translate(420px) rotate(0deg); }*/
    /*.header_top_circle_11 { transform: rotate(325deg) translate(420px) rotate(0deg); }*/




.header_top_2{
    position: absolute;
    color: black;
    margin-left: -35px;
  margin-top: -10px;
}

.header_top_2_title{
    position: absolute;
    margin-left: 770px;
    margin-top:   140px;
    font-family: "Cera Pro bold", sans-serif;
    width: 1100px;
    font-size: 48px;
    text-align: center;
  z-index: 999;
}

.header_top_comp_2_title_1 {
    position: absolute;
    margin-left: 1150px;
    margin-top: 430px;
    width: 200px;
    font-size: 28px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999 ;
  color: black;
}

.header_top_comp_2_title_1_img {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1080px;
    margin-top: 330px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
  z-index: 50 ;
}

.header_top_comp_2_title_1:hover + .header_top_comp_2_title_1_img{
    opacity: 1;
}

.header_top_comp_2_title_1:hover{
  color: black;
}

.header_top_comp_2_title_2_img {
    position: absolute;
    width: 380px;
    height: 350px;
    margin-left: 1080px;
    margin-top: 500px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
}

.header_top_comp_2_title_2:hover .header_top_comp_2_title_2_img,
.header_top_comp_2_title_2_img:hover {
    opacity: 1;
}



.header_top_comp_2_title_3_img {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 1080px;
    margin-top: 900px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
}

.header_top_comp_2_title_3:hover .header_top_comp_2_title_3_img,
.header_top_comp_2_title_3_img:hover {
    opacity: 1;
}


.header_top_comp_2_title_4_img {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 1788px;
    margin-top: 40px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
}

.header_top_comp_2_title_4:hover .header_top_comp_2_title_4_img,
.header_top_comp_2_title_4_img:hover {
    opacity: 1;
}

.header_top_comp_2_title_5_img {
    position: absolute;
    width: 350px;
    height: 350px;
    margin-left: 1780px;
    margin-top: 230px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
}

.header_top_comp_2_title_5:hover .header_top_comp_2_title_5_img,
.header_top_comp_2_title_5_img:hover {
    opacity: 1;
}

.header_top_comp_2_title_6_img {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 1780px;
    margin-top: 230px;
    animation: opacity 0.1s ;  /* Плавный переход между состояниями видимости */
    opacity: 0;
}

.header_top_comp_2_title_6:hover .header_top_comp_2_title_6_img,
.header_top_comp_2_title_6_img:hover {
    opacity: 1;
}
/*.header_top_comp_2_title_1:hover {*/
/*    display: inline-block; !* Для корректного отображения фона *!*/
/*    background-image: linear-gradient(transparent, transparent), linear-gradient(yellow, yellow);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 0% 100%, 100% 3px; !* Начальные размеры градиентов: верхний и нижний *!*/
/*    background-position: 0% 50%, 100% 50%; !* Начальное положение градиентов: верхний и нижний *!*/
/*    transition: background-size 0.3s ease; !* Плавный переход *!*/
/*}*/

.header_top_comp_2_title_1:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 635px;
    margin-top: 100px;
    margin-left: -140px;
}

.header_top_comp_2_title_111 {
    margin-top: 10px;
    margin-left: 10px;

}


.header_top_comp_2_title_11{
    position: absolute;
    margin-left: 1430px;
    margin-top: 430px;
    width: 380px;
    font-size: 16px;
}

/*.header_top_comp_2_title_12{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 375px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

/*.header_top_comp_2_title_13{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 425px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

/*.header_top_comp_2_title_14{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 450px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

.header_top_comp_2_title_2{
    position: absolute;
    margin-left: 1150px;
    margin-top: 610px;
    width: 200px;
    font-size: 26px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_2:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 635px;
    margin-top: 45px;
    margin-left: 3px;
}

.header_top_comp_2_title_211 {
    margin-top: 10px;
    margin-left: 20px;

}

.header_top_comp_2_title_21{
    position: absolute;
    margin-left: 1420px;
    margin-top: 615px;
    width: 340px;
    font-size: 16px;
}

.header_top_comp_2_title_3{
    position: absolute;
    margin-left: 1150px;
    margin-top: 810px;
    width: 230px;
    font-size: 25px;
    font-family: "Cera Pro Medium", sans-serif;
    color: black;
    text-decoration: none;
}

.header_top_comp_2_title_311 {
    margin-top: 280px;
    margin-left: 20px;

}

.header_top_comp_2_title_31{
    position: absolute;
    margin-left: 1420px;
    margin-top: 545px;
    width: 320px;
    font-size: 16px;
}


.header_top_comp_2_title_4 {
    position: absolute;
    margin-left: 1850px;
    margin-top: 150px;
    width: 260px;
    font-size: 25px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_4:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 620px;
    margin-top: 67px;
    margin-left: -100px;
}

.header_top_comp_2_title_411 {
    margin-top: 10px;
    margin-left: 5px;

}

.header_top_comp_2_title_41{
    position: absolute;
    margin-left: 2135px;
    margin-top: 157px;
    width: 350px;
    font-size: 16px;
}


.header_top_comp_2_title_5{
    position: absolute;
    margin-left: 1850px;
    margin-top: 340px;
    width: 200px;
    font-size: 26px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_5:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 650px;
    margin-top: 85px;
    margin-left: -160px;
}

.header_top_comp_2_title_511 {
    margin-top: 500px;
    margin-left: -25px;

}

.header_top_comp_2_title_51{
    position: absolute;
    margin-left: 2165px;
    margin-top: 125px;
    width: 350px;
    font-size: 16px;
}


.header_top_comp_2_title_6{
    position: absolute;
    margin-left: 1850px;
    margin-top: 320px;
    width: 200px;
    font-size: 28px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_611 {
    margin-top: 10px;
    margin-left: -25px;

}


.header_top_comp_2_title_61{
    position: absolute;
    margin-left: 2165px;
    margin-top: 325px;
    width: 350px;
    font-size: 16px;
}





















.header_menu p{
    padding-left: 50px;
    margin-top: 7px;
    font-size: 20px;
}


.header_container_1{
    width: 2500px;
    height: 590px;
    margin-top: 1150px;
    position: absolute;
    background-color: rgba(246, 245, 245, 0.97);
    z-index: 1;
}

.header_container_1_title {
    color: black;
    width: 1450px;
    font-size: 28px;
    margin-left: 600px;
    font-weight: 700;
    font-family: "Cera Pro Regular",sans-serif;
    margin-top: 40px;
    text-align: center;
}


.header_container_1_title:after{
    content: '';
    border: 1.3px black solid;
    width: 1390px;
    position: absolute;
    margin-top: 360px;
    margin-left: -1310px;
}


.header_container_1_man_1{
    width: 40px;
    height: 40px;
    margin-left: 1400px;
    margin-top: 200px;
    position: absolute;
}

.header_container_1_man_2{
    width: 40px;
    height: 40px;
    margin-left: 1450px;
    margin-top: 200px;
        position: absolute;

}

.header_container_1_man_3{
    width: 40px;
    height: 40px;
    margin-left: 1425px;
    margin-top: 150px;
        position: absolute;

}

.header_container_1_man_4{
    width: 40px;
    height: 40px;
    margin-left: 1500px;
    margin-top: 200px;
        position: absolute;

}

.header_container_1_man_5{
    width: 40px;
    height: 40px;
    margin-left: 1475px;
    margin-top: 150px;
        position: absolute;

}

.header_container_1_man_6{
    width: 40px;
    height: 40px;
    margin-left: 1450px;
    margin-top: 100px;
        position: absolute;

}

.header_container_1_man_1,
.header_container_1_man_2,
.header_container_1_man_3,
.header_container_1_man_4,
.header_container_1_man_5,
.header_container_1_man_6 {
    opacity: 0;
    transition: opacity 0.5s;
}

.header_container_1_man_1 {
    transition-delay: 1s;
}

.header_container_1_man_2 {
    transition-delay: 1.25s;
}

.header_container_1_man_3 {
    transition-delay: 1.5s;
}

.header_container_1_man_4 {
    transition-delay: 1.75s;
}

.header_container_1_man_5 {
    transition-delay: 2s;
}

.header_container_1_man_6 {
    transition-delay: 2.25s;
}





.header_container_1_list_1{
    position: absolute;
        width: 40px;
    height: 40px;
    margin-left: 1010px;
    margin-top: 200px;
}

.header_container_1_list_2{
        position: absolute;
            width: 40px;
    height: 40px;
    margin-left: 1070px;
    margin-top: 200px;

}

.header_container_1_list_3{
        position: absolute;
            width: 40px;
    height: 40px;
    margin-left: 1130px;
    margin-top: 200px;

}

.header_container_1_list_4{
        position: absolute;
        width: 40px;
    height: 40px;
    margin-left: 1010px;
    margin-top: 140px;

}

.header_container_1_list_5{
        position: absolute;
            width: 40px;
    height: 40px;
    margin-left: 1070px;
    margin-top: 140px;
}

.header_container_1_list_6{
        position: absolute;
            width: 40px;
    height: 40px;
    margin-left: 1130px;
    margin-top: 140px;
}

.header_container_1_list_7{
        position: absolute;
            width: 40px;
    height: 40px;
    margin-left: 1010px;
    margin-top: 80px;

}

.header_container_1_list_8{
        position: absolute;
                width: 40px;
    height: 40px;
    margin-left: 1070px;
    margin-top: 80px;

}

.header_container_1_list_9{
        position: absolute;
                width: 40px;
    height: 40px;
    margin-left: 1130px;
    margin-top: 80px;

}

.header_container_1_list_1,
.header_container_1_list_2,
.header_container_1_list_3,
.header_container_1_list_4,
.header_container_1_list_5,
.header_container_1_list_6,
.header_container_1_list_7,
.header_container_1_list_8,
.header_container_1_list_9{
        opacity: 0;
    transition: opacity 0.5s;

}


.header_container_1_list_1 {
    transition-delay: 1s;
}

.header_container_1_list_2 {
    transition-delay: 1.25s;
}

.header_container_1_list_3 {
    transition-delay: 1.5s;
}

.header_container_1_list_4 {
    transition-delay: 1.75s;
}

.header_container_1_list_5 {
    transition-delay: 2s;
}

.header_container_1_list_6 {
    transition-delay: 2.25s;
}

.header_container_1_list_7 {
    transition-delay: 2.5s;
}

.header_container_1_list_8 {
    transition-delay: 2.75s;
}

.header_container_1_list_9 {
    transition-delay: 3s;
}


.header_container_1_comp_1{
    width: 75px;
    height: 75px;
    margin-left: 1760px;
    margin-top: 180px;
    position: absolute;
}

.header_container_1_comp_2{
    width: 25px;
    height: 25px;
    margin-left: 1773px;
    margin-top: 199px;
    position: absolute;
}

.header_container_1_comp_3{
    width: 75px;
    height: 75px;
    margin-left: 1760px;
    margin-top: 100px;
    position: absolute;
}

.header_container_1_comp_4{
    width: 25px;
    height: 25px;
    margin-left: 1773px;
    margin-top: 118px;
    position: absolute;
}

.header_container_1_comp_5{
    width: 75px;
    height: 75px;
    margin-left: 1880px;
    margin-top: 180px;
    position: absolute;
}

.header_container_1_comp_6{
    width: 25px;
    height: 25px;
    margin-left: 1893px;
    margin-top: 199px;
    position: absolute;
}

.header_container_1_comp_7{
    width: 75px;
    height: 75px;
    margin-left: 1880px;
    margin-top: 100px;
    position: absolute;
}

.header_container_1_comp_8{
    width: 25px;
    height: 25px;
    margin-left: 1893px;
    margin-top: 118px;
    position: absolute;
}


.header_container_1_comp_1,
.header_container_1_comp_2,
.header_container_1_comp_3,
.header_container_1_comp_4,
.header_container_1_comp_5,
.header_container_1_comp_6,
.header_container_1_comp_7,
.header_container_1_comp_8{

    opacity: 0;
    transition: opacity 0.5s;

}

.header_container_1_comp_1 {
    transition-delay: 1s;
}

.header_container_1_comp_2 {
    transition-delay: 1.25s;
}

.header_container_1_comp_3 {
    transition-delay: 1.5s;
}

.header_container_1_comp_4 {
    transition-delay: 1.75s;
}

.header_container_1_comp_5 {
    transition-delay: 2s;
}

.header_container_1_comp_6 {
    transition-delay: 2.25s;
}

.header_container_1_comp_7 {
    transition-delay: 2.5s;
}

.header_container_1_comp_8 {
    transition-delay: 2.75s;
}




.header_container_1_year{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 295px;
    margin-left: 600px;
}

.header_container_1_prod{
        color: black;
    margin-top: 350px;
    position: absolute;
    font-size: 21px;
    margin-left: 600px;

}

.header_container_1_num{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 295px;
    margin-left: 1000px;

}

.header_container_1_proekt{
            color: black;
    margin-top: 350px;
    position: absolute;
    font-size: 21px;
    margin-left: 1005px;
}

.header_container_1_bolee{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 295px;
    margin-left: 1400px;

}

.header_container_1_spec{
            color: black;
    margin-top: 350px;
    position: absolute;
    font-size: 21px;
    margin-left: 1402px;
}

.header_container_1_sobs{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 295px;
    margin-left: 1750px;
}

.header_container_1_it{
            color: black;
    margin-top: 350px;
    position: absolute;
    font-size: 21px;
    margin-left: 1752px;
}

.header_container_2{
    position: absolute;
    width: 2500px;
    height: 500px;
    margin-top: 2440px;
    background-color: #948f8f;
    z-index: 7777;
}

.header_container_2_2{
    margin-top: -10px;
}

.header_container_2_title{
    color: black;
    position: absolute;
    text-align: center;
    margin-left: 1090px;
    margin-top: 10px;
    font-size: 40px;
    font-family: "Cera Pro Bold", sans-serif;
}

.header_container_2_etap_1_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 640px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_1:after{
    content: '';
    border: 1px black solid;
    width: 320px;
    position: absolute;
    margin-top: -43px;
    margin-left: -56px;
}

.header_container_2_etap_1{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 600px;
}

.header_container_2_etap_1:before{
    color: black;
    content: 'Этап 1';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 50px;
}

.header_container_2_etap_2_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1032px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_2:after{
    content: '';
    border: 1px black solid;
    width: 320px;
    position: absolute;
    margin-top: -43px;
    margin-left: -76px;
}


.header_container_2_etap_2{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 965px;

}

.header_container_2_etap_2:before{
    color: black;
    content: 'Этап 2';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 75px;
}

.header_container_2_etap_3_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1425px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_3{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 1370px;
}

.header_container_2_etap_3:before{
    color: black;
    content: 'Этап 3';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 60px;
}

.header_container_2_etap_3:after{
    content: '';
    border: 1px black solid;
    width: 341px;
    position: absolute;
    margin-top: -43px;
    margin-left: -70px;
}

.header_container_2_etap_4_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1840px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_4{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 1775px;
}

.header_container_2_etap_4:before{
    color: black;
    content: 'Этап 4';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 70px;
}




.container_container_3{
    position: absolute;
    margin-top: 6000px;
    background-color: white;
    width: 2500px;
    height: 800px;
}

.header_our_partner{
    position: absolute;
    color: black;
    font-size: 40px;
    margin-left: 1100px;
    margin-top: -55px;
    z-index: 999;
}




.header_container_4{
    position: absolute;
    width: 2500px;
    height: 1000px;
    background-color: white;
    margin-top: 5000px;
}

.header_our_prem{
    font-size: 40px;
    font-family: "Cera Pro Bold", sans-serif;
    position: absolute;
    margin-left: 1050px;
    margin-top: 32px;
    color: black;
}

.header_our_uslugi_obol{
    width: 1410px;
    height: 720px;
    border: 1px grey solid;
    margin-left: 600px;
    margin-top: 128px;
    z-index: 999;
}

.header_our_uslugi_1{
    width: 80px;
    height: 720px;
    border-right: 1px grey solid;
    margin-left: 10px;
    position: absolute;
    background-color: white;
}

.black-grey_1 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72, 134, 255, 0.6), rgba(58, 118, 254, 0.6), rgba(22, 79, 252, 0.6), rgba(0, 55, 251, 0.6));
    position: absolute;
    margin-left: 0px;
}

.header_our_uslugi{
    color: black;
}




.header_our_uslugi_geo{
    color: #282c34;
    margin-top:     -50px;
    position: absolute;
    margin-left: 500px;
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999;
}

.header_our_uslugi_geo_3{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_geo_2{
    color: black;
    margin-top: 530px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_1_button{
    position: absolute;
    margin-left: 500px;
    margin-top: 500px;
}


.dop_1_title{

}

.dop_1_geo_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 445px;
    height: 550px;
    margin-left: 500px;
    font-size: 16px;
    margin-top: 10px;
    background-color: white;
    text-align: justify;
    position: absolute;
}
















.header_our_uslugi_2{
    width: 80px;
    height: 720px;
    position: absolute;
    background-color: white;
    margin-left: 1010px;
    border: 1px #000000 solid;
}


.header_our_uslugi_cadastr{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_blue-white{
    width: 80px;
    height: 720px;
    background-color: white;
    position: absolute;
    margin-left: 1010px;
    border: 1px grey solid  ;
}


.black-grey_2 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72,134,44, 0.4), rgba(66,128,59, 0.4), rgba(52,113,98, 0.4), rgb(12, 106, 227, 0.4), rgba(0,55,251, 0.6));

    position: absolute;
    margin-left: 90px;
}

.dop_blue-white_1_1{
    margin-left: 90px;
}

.header_our_uslugi_cadastr_2{
    color: black;
    margin-top: 530px;
    position: absolute;
    margin-left: 435px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_cadastr_3{
    color: black;
    margin-top: -40px;
    position: absolute;
    margin-left: 950px;
    transform-origin: left bottom;
    font-size: 30px;
    font-family: "Cera Pro Bold", sans-serif;
    z-index: 999;
    width: 100px;
    line-height: 30px;
}

.header_our_uslugi_cadastr_img{
    position: absolute;
    width: 400px;
    height: 350px;
    margin-left: 500px;
    margin-top: 70px;
    z-index: 999;
}

.dop_2_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 340px;
    height: 420px;
    margin-left: 950px;
    font-size: 16px;
    margin-top: 90px;
    position: absolute;
    text-align: justify;
    z-index: 999;
}

.dop_2_button{
    position: absolute;
    margin-left: 950px;
    margin-top: 500px;
}
















.header_our_uslugi_3{
    width: 80px;
    height: 720px;
    position: absolute;
    background-color: white;
    margin-left: 1090px;
    border: 1px #000000 solid;
}

.header_our_uslugi_proekt{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_blue-white_2{
    width: 80px;
    height: 720px;
    background-color: white;
    position: absolute;
    margin-left: 1090px;
    border: 1px grey solid;
}

.black-grey_3 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72, 134, 255, 0.6), rgba(58, 118, 254, 0.6), rgba(22, 79, 252, 0.6), rgba(0, 55, 251, 0.6));
    margin-left: 170px;
}

.dop_blue-white_1_2{
    margin-left: 170px;
}


.header_our_uslugi_proekt_2{
    color: black;
    margin-top: 530px;
    position: absolute;
    margin-left: 810px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_proekt_3{
    color: black;
    margin-top: -50px;
    position: absolute;
    margin-left: 1250px;
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999;
}

.dop_3_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 450px;
    margin-left: 1250px;
    font-size: 16px;
    margin-top: 15px;
    position: absolute;
    text-align: justify;
}


















.header_our_uslugi_4{
    width: 80px;
    height: 720px;
    position: absolute;
    background-color: white;
    margin-left: 1170px;
    border: 1px #000000 solid;
}

.header_our_uslugi_proekt_gaz{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
        font-family: "Cera Pro Medium", sans-serif;
}

.dop_blue-white_3{
    width: 80px;
    height: 720px;
    background-color: white;
    position: absolute;
    margin-left: 1170px;
    border: 1px grey solid;
}

.black-grey_4 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72, 134, 255, 0.6), rgba(58, 118, 254, 0.6), rgba(22, 79, 252, 0.6), rgba(0, 55, 251, 0.6));
    margin-left: 250px;
}

.dop_blue-white_1_3{
    margin-left: 250px;
}

.header_our_uslugi_proekt_gaz_2{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_proekt_gaz_3{
    color: black;
    margin-top: 70px;
    position: absolute;
    margin-left: 460px;
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999;
}

.dop_4_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 450px;
    margin-left: 460px;
    font-size: 16px;
    margin-top: 130px;
    position: absolute;
        text-align: justify;
}





















.header_our_uslugi_5{
    width: 80px;
    height: 720px;
    position: absolute;
    background-color: white;
    margin-left: 1250px;
    border: 1px #000000 solid;
}

.header_our_uslugi_proekt_set{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
        font-family: "Cera Pro Medium", sans-serif;
}

.dop_blue-white_4{
    width: 80px;
    height: 720px;
    background-color: white;
    position: absolute;
    margin-left: 1250px;
    border: 1px grey solid;
}

.dop_blue-white_1_4{
  margin-left: 330px;
}

.black-grey_5 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72, 134, 255, 0.6), rgba(58, 118, 254, 0.6), rgba(22, 79, 252, 0.6), rgba(0, 55, 251, 0.6));
    margin-left: 330px;
}

.header_our_uslugi_proekt_set_2{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_proekt_set_3{
    color: black;
    margin-top: 60px;
    position: absolute;
    margin-left: 470px;
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999;
}

.dop_5_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 450px;
    margin-left: 470px;
    font-size: 16px;
    margin-top: 120px;
    position: absolute;
}























.header_our_uslugi_6{
    width: 80px;
    height: 720px;
    margin-top: 0px;
    position: absolute;
    background-color: white;
    margin-left: 1330px;
    border: 1px #000000 solid;
}

.header_our_uslugi_proekt_wat{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
        font-family: "Cera Pro Medium", sans-serif;
}

.dop_blue-white_5{
    width: 80px;
    height: 720px;
    background-color: white;
    position: absolute;
    margin-left: 1330px;
    border: 1px grey solid;
}

.black-grey_6 {
    width: 80px;
    height: 720px;
    background: linear-gradient(rgba(72, 134, 255, 0.6), rgba(58, 118, 254, 0.6), rgba(22, 79, 252, 0.6), rgba(0, 55, 251, 0.6));
    margin-left: 410px;
}


.header_our_uslugi_proekt_wat_2{
    color: black;
    margin-top: 650px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_our_uslugi_proekt_wat_3{
    color: black;
    margin-top: 75px;
    position: absolute;
    margin-left: 490px;
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
    z-index: 999;
}


.dop_6_1{
    color: black;
    font-family: "Cera Pro Regular", sans-serif;
    width: 450px;
    margin-left: 490px;
    font-size: 16px;
    margin-top: 130px;
    position: absolute;
    text-align: justify;
}













.header_container_5{
    position: absolute;
    width: 2500px;
    height: 1300px;
    background-color: #ffffff;
    margin-top: 1800px;
        z-index: 999;
}

.header_circle_three_color{
    width: 300px;
    height: 300px;
    border: 50px #ffffff solid;
    border-radius: 100%;
    margin-left: 1000px;
    margin-top: 90px;
    position: absolute;
    z-index: 999;
    background-color: #000000;
}


        .circle-container {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -33px;
        }

        .circle-outer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#ff0202 0% 16%, transparent 16% 100%)
        }


        .circle-inner {
            position: absolute;
            top: 25px;  /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: white;  /* This should match the background color of your page or container */
        }

.circle-container_2 {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -360px;
        }

        .circle-outer_2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#fc8d02 0% 16%, transparent 16% 100%);
            transform: rotate(60deg);
            transform-origin: center;
        }


        .circle-inner_2 {
            position: absolute;
            top: 25px;  /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: #000000;  /* This should match the background color of your page or container */
        }

.circle-container_3 {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -360px;
        }

        .circle-outer_3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#ebfd00 0% 16%, transparent 16% 100%);
            transform: rotate(120deg);
            transform-origin: center;
        }


        .circle-inner_3 {
            position: absolute;
            top: 25px; /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: white; /* This should match the background color of your page or container */
        }


.circle-container_4 {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -360px;
        }

        .circle-outer_4 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#18b472 0% 16%, transparent 16% 100%);
            transform: rotate(180deg);
            transform-origin: center;
        }


        .circle-inner_4 {
            position: absolute;
            top: 25px;  /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: #ffffff;  /* This should match the background color of your page or container */
        }

.circle-container_5 {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -360px;
        }

        .circle-outer_5{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#0039ff 0% 16%, transparent 16% 100%);
            transform: rotate(240deg);
            transform-origin: center;
        }


        .circle-inner_5 {
            position: absolute;
            top: 25px;  /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: #ffffff;  /* This should match the background color of your page or container */
        }

.circle-container_6 {
            position: relative;
            width: 360px;
            height: 360px;
            margin-left: -33px;
            margin-top: -360px;
        }

        .circle-outer_6{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: conic-gradient(#8f00f3 0% 4%, #18B472 4% 8%, #18B472 8% 12%, #18B472 12% 16%, transparent 16% 100%);
            transform: rotate(298deg);
            transform-origin: center;
        }


        .circle-inner_6 {
            position: absolute;
            top: 25px;  /* Adjust this value to change the thickness of the border */
            left: 25px;
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            border-radius: 50%;
            background-color: #ffffff;  /* This should match the background color of your page or container */
        }

.header_circle_color_2{

}

.header_circle_color_3{

}




.header_container_6{
    position: absolute;
    width: 2500px;
    height: 800px;
    background-color: #ffffff;
    margin-top: 2940px;
    z-index: 999;
}

.header_container_6_title{
    font-size: 40px;
    font-family: "Cera Pro Bold", sans-serif;
    position: absolute;
    margin-left: 1100px;
    margin-top: 32px;
    color: black;
}

.header_container_6_block{
    position: absolute;
}

.header_container_6_block_1{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: 140px;
    margin-left: 545px;

}

.header_container_6_block_1_fon{
    width: 440px;
    height: 285px;
    background-color: rgba(142, 193, 171, 0.32); ;

}

.header_container_6_block_1_img_1{
    width: 340px;
    height: 200px;
    margin-top: 40px;
    position: absolute;
    margin-left: 30px;
}

.header_container_6_block_1_fon:hover .header_container_6_block_1_img_1{
    transform: scale(1.178);
    transition: transform 0.3s ease;  /* Плавный переход */
}



.header_container_6_block_1_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_1_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}


.header_container_6_block_2{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: -440px;
    margin-left: 1010px;
    position: absolute;

}

.header_container_6_block_2_fon{
    width: 440px;
    height: 285px;
    background-color: #DAE4EB;

}

.header_container_6_block_2_img_1{
    width: 360px;
    height: 240px;
    margin-top: 24px;
    position: absolute;
    margin-left: 40px;
}

.header_container_6_block_2_fon:hover .header_container_6_block_2_img_1{
    transform: scale(1.178);
    transition: transform 0.3s ease;  /* Плавный переход */
}


.header_container_6_block_2_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_2_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}


.header_container_6_block_3{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: -440px;
    margin-left: 1475px;
    position: absolute;

}

.header_container_6_block_3_fon{
    width: 440px;
    height: 285px;
    background-color: rgba(246, 245, 245, 0.97);
     position: relative;

}

.header_container_6_block_3_img_1{
    width: 360px;
    height: 240px;
    margin-top: 24px;
    position: absolute;
    margin-left: 40px;
}

.header_container_6_block_3_fon:hover .header_container_6_block_3_img_1{
    transform: scale(1.178);
    transition: transform 0.3s ease;  /* Плавный переход */
}


.header_container_6_block_3_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_3_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}



.header_container_6_block_4{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: 40px;
    margin-left: 545px;

}

.header_container_6_block_4_fon{
    width: 440px;
    height: 285px;
    background-color: rgba(246, 245, 245, 0.97);

}

.header_container_6_block_4_img_1{
    width: 360px;
    height: 240px;
    margin-top: 24px;
    position: absolute;
    margin-left: 40px;
}

.header_container_6_block_4_fon:hover .header_container_6_block_4_img_1{
    transform: scale(1.178);
    transition: transform 0.3s ease;  /* Плавный переход */
}


.header_container_6_block_4_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_4_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}


.header_container_6_block_5{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: -440px;
    margin-left: 1010px;
    position: absolute;

}

.header_container_6_block_5_fon{
    width: 440px;
    height: 285px;
    background-color: rgba(246, 245, 245, 0.97);

}

.header_container_6_block_5_img_1{
    width: 340px;
    height: 200px;
    margin-top: -240px;
    position: absolute;
    margin-left: 50px;
}

.header_container_6_block_5_img_2{
    width: 340px;
    height: 200px;
    margin-top: -240px;
    position: absolute;
    margin-left: 50px;
}


.header_container_6_block_5_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_5_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}


.header_container_6_block_6{
    width: 440px;
    height: 440px;
    background-color: #ffffff;
    margin-top: -440px;
    margin-left: 1475px;
    position: absolute;

}

.header_container_6_block_6_fon{
    width: 440px;
    height: 285px;
    background-color: rgba(246, 245, 245, 0.97);

}

.header_container_6_block_6_img_1{
    width: 340px;
    height: 200px;
    margin-top: -240px;
    position: absolute;
    margin-left: 50px;
}

.header_container_6_block_6_img_2{
    width: 340px;
    height: 200px;
    margin-top: -240px;
    position: absolute;
    margin-left: 50px;
}


.header_container_6_block_6_text_1{
    color: black;
    font-size: 21px;
    font-family: "Cera Pro Regular", sans-serif;
    margin-left: -2px;
    margin-top: 18px;
}

.header_container_6_block_6_text_2{
    color: black;
    font-size: 18px;
    font-family: "Cera Pro Light", sans-serif;
    margin-left: -2px;
    margin-top: -7px;
}









































/*@keyframes pulsate {*/

/*  100% {*/

/*      box-shadow:*/
/*      0 0 4px #fff,*/
/*      0 0 4px #fff,*/
/*      0 0 5px #fff,*/
/*      0 0 6px #fff,*/
/*      0 0 7px #fff,*/
/*      0 0 8px #fff,*/
/*      0 0 9px #fff,*/
/*      0 0 10px #fff;;*/

/*  }*/

/*  0% {*/

/*    box-shadow:*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff;;*/

/*}}*/


/*.our_project_img_8:hover {*/
/*    opacity: 0.5;*/
/*    -webkit-transition: all 1s ease;*/
/*    -moz-transition: all 1s ease;*/
/*    -o-transition: all 1s ease;*/
/*    -ms-transition: all 1s ease;*/
/*    transition: all 1s ease;*/
/*}*/



/*.our_project_img_1:hover {*/
/*    filter: url(#ambilight);*/
/*}*/