@import '/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

.Header{
    width: 2500px;
    position: absolute;
    background-color: white;
    height: auto;
    top: 1px;
}

.header_header{
    width: 2500px;
    position: absolute;
    background-color: white;
    height: auto;
}

.header_logo{
    width: 42px;
    height: 35px;
    margin-left: 40px;
    margin-top: 5px;
    position: fixed;
    z-index: 1999;
}

.header_logo_2{
    width: 120px;
    height: 15px;
    margin-left: 87px;
    margin-top: 13px;
    position: fixed;
    z-index: 1999;
}


   .header_menu_supply {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 15px;
        z-index: 1999;
    }

       .header_animation_square{
            position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: 2400px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */ /* Тот же отступ сверху, что и у .menu_supply */
    display: block; /* Больше, чем у .menu_supply */
           z-index: 1999;
    }

    .header_black_square {
    position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: 55px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */
    margin-top: 1px; /* Тот же отступ сверху, что и у .menu_supply */
    z-index: 2000; /* Больше, чем у .menu_supply */
    background-color: rgba(255, 255, 255); /* Черный цвет фона */
    overflow-x: hidden;
}

        .header_black_square2 {
    position: fixed;
    width: 55px; /* Та же ширина, что и у .menu_supply */
    height: 55px; /* Та же высота, что и у .menu_supply */
    margin-left: -55px; /* Смещение влево на значение ширины .menu_supply плюс его отступ слева, чтобы разместить квадрат справа от .menu_supply */
    margin-top: 1px; /* Тот же отступ сверху, что и у .menu_supply */
    z-index: 2000; /* Больше, чем у .menu_supply */
    background-color: rgba(255, 255, 255); /* Черный цвет фона */

}



        @keyframes menu1 {
            0%{
                opacity: 1;
            }

            100%{
                transform: translateX(+100%);
            }
        }

        .header_menu_supply2 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 20px;
        z-index: 1999;
    }

            .header_menu_supply3 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: 1px;
        margin-top: 30px;
        z-index: 1999;
    }

            .header_menu_supply4 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 15px;
        z-index: 1999;
        opacity: 0;
    }

            .header_menu_supply5 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 20px;
        z-index: 1999;
                  opacity: 0;
    }

            .header_menu_supply6 {
        position: fixed;
        max-width: 55px; /* Установите желаемую ширину для логотипа */
        max-height: 60px;
        margin-left: -55px;
        margin-top: 30px;
        z-index: 1999;
                        opacity: 0;
    }

        @keyframes menu2 {
            0%{
                opacity: 1;
            }

            100%{
                transform: translateX(+100%);
                opacity: 1;
            }
        }

.header_animation_square:hover .header_menu_supply {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
}

.header_animation_square:hover .header_menu_supply2 {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.1s; /* Например, задержка в 0.5 секунды */
}

.header_animation_square:hover .header_menu_supply3 {
    animation: menu1 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.2s; /* Например, задержка в 1 секунду */
}

.header_animation_square:hover .header_menu_supply4 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
}

.header_animation_square:hover .header_menu_supply5 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.1s; /* Например, задержка в 0.5 секунды */
}

.header_animation_square:hover .header_menu_supply6 {
    animation: menu2 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.2s; /* Например, задержка в 1 секунду */
}



        @keyframes menu3 {
            0%{
                opacity: 1;
                transform: translateX(+100%)

            }

            100%{
                transform: translateX(0%);
                opacity: 1;
            }
        }
                @keyframes menu4 {
            0%{
                opacity: 1;
                transform: translateX(+100%)

            }

            100%{
                transform: translateX(0%);
                opacity: 1;
            }
        }


.header_animation_square:not(:hover) .header_menu_supply,
.header_animation_square:not(:hover) .header_menu_supply2,
.header_animation_square:not(:hover) .header_menu_supply3 {
    animation: menu3 1s backwards;
    animation-iteration-count: 1;
}

.header_animation_square:not(:hover) .header_menu_supply2 {
    animation-delay: 0.1s;
}

.header_animation_square:not(:hover) .header_menu_supply3 {
    animation-delay: 0.2s;
}

.header_animation_square:not(:hover) .header_menu_supply4,
.header_animation_square:not(:hover) .header_menu_supply5,
.header_animation_square:not(:hover) .header_menu_supply6{
    animation: menu4 1s backwards;
    animation-iteration-count: 1;
}

.header_animation_square:not(:hover) .header_menu_supply5 {
    animation-delay: 0.1s;
}

.header_animation_square:not(:hover) .header_menu_supply6 {
    animation-delay: 0.2s;
}

/*.header_bgc{*/
/*    width: 2500px;*/
/*    height: 1000px;*/
/*    position: absolute;*/
/*    margin-left: -1250px;*/


/*}*/

.header_menu{
    display: flex;
    color: black;
    position: absolute;
    margin-left: 1400px;
}

.header_menu_supply_activate{
    width: 2500px;
    height: 1330px;
    background-color: black;
    margin-top: -41px;
    position: fixed;
    z-index: 9999;
}

.header_menu_supply_activate_close{
    margin-left: 1453px;
    position: absolute;
    z-index: 1112;
    margin-top: 600px;
    width: 55px;
    height: 55px;
}

.header_menu_opacity_bgc{
    width: 800px;
    height: 1330px;
    background-color: black;
    margin-top: -50px;
    margin-left: 1480px;
    position: absolute;
    z-index: 1111;
}

.scaled-iframe-container {
    transform: scale(0.59);
    transform-origin: 0 0;
    width: 3500px; /* Удвоение размера контейнера для компенсации масштабирования */
    height: 200%;
    overflow: auto; /* Скрытие частей сайта, выходящих за пределы контейнера */
}

.scaled-iframe-container iframe {
    width: 72%;
    height: 65%;
    margin-top: 250px;
    margin-left: 10px;
}

.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    margin-left: -900px;
    margin-top: 360px;
}


.header_top_comp_title_1{
    position: absolute;

}

.header_top_comp_title_2{
    position: absolute;

}

.header_top_comp_title_3{
    position: absolute;

}

.header_top_comp_title_4{
    position: absolute;

}

.header_top_comp_title_5{
    position: absolute;

}

.header_top_comp_title_6{
    position: absolute;

}


.header_top_circle {
    width: 300px;
    height: 300px;
    position: absolute;
   animation: spin 30s linear infinite;
    margin-top: 175px;
    margin-left: 490px;

}

.logo_circle{
    position: absolute;
    margin-left: 740px;
    margin-top: 620px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header_top_circle img {
    position: absolute;
    width: 85px;
    height: 85px;
   transform-origin: 150px 150px; /* Указываем центр вращения, который находится в центре круга */
      filter: grayscale(100%);
  transition: filter 0.3s ease; /* плавный переход при наведении */
}


/* При наведении убрать черно-белый фильтр */

.header_top_circle img:hover {
    filter: url(#ambilight) grayscale(0%);
}


.header_top_circle_1 { transform: rotate(0deg) translate(280px) rotate(0deg); }
.header_top_circle_2 { transform: rotate(32deg) translate(280px) rotate(0deg); }
.header_top_circle_3 { transform: rotate(65deg) translate(280px) rotate(0deg); }
.header_top_circle_4 { transform: rotate(97deg) translate(280px) rotate(0deg); }
.header_top_circle_5 { transform: rotate(130deg) translate(280px) rotate(0deg); }
.header_top_circle_6 { transform: rotate(162deg) translate(280px) rotate(0deg); }
.header_top_circle_7 { transform: rotate(195deg) translate(280px) rotate(0deg); }
.header_top_circle_8 { transform: rotate(227deg) translate(280px) rotate(0deg); }
.header_top_circle_9 { transform: rotate(260deg) translate(280px) rotate(0deg); }
.header_top_circle_10 { transform: rotate(292deg) translate(280px) rotate(0deg); }
.header_top_circle_11 { transform: rotate(325deg) translate(280px) rotate(0deg); }




.header_top_2{
    position: absolute;
    color: black;
    margin-left: -35px;
}

.header_top_2_title{
    position: absolute;
    margin-left: 1020px;
    margin-top: 130px;
    font-family: "Cera Pro bold", sans-serif;
    width: 483px;
    font-size: 48px;
    text-align: center;
}

.header_top_comp_2_title_1{
    position: absolute;
    margin-left: 1150px;
    margin-top: 430px;
    width: 200px;
    font-size: 28px;
        font-family: "Cera Pro Medium", sans-serif;
}

/*.header_top_comp_2_title_1:hover {*/
/*    display: inline-block; !* Для корректного отображения фона *!*/
/*    background-image: linear-gradient(transparent, transparent), linear-gradient(yellow, yellow);*/
/*    background-repeat: no-repeat;*/
/*    background-size: 0% 100%, 100% 3px; !* Начальные размеры градиентов: верхний и нижний *!*/
/*    background-position: 0% 50%, 100% 50%; !* Начальное положение градиентов: верхний и нижний *!*/
/*    transition: background-size 0.3s ease; !* Плавный переход *!*/
/*}*/

.header_top_comp_2_title_1:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 635px;
    margin-top: 100px;
    margin-left: -140px;
}

.header_top_comp_2_title_111 {
    margin-top: 10px;
    margin-left: 10px;

}


.header_top_comp_2_title_11{
    position: absolute;
    margin-left: 1430px;
    margin-top: 430px;
    width: 380px;
    font-size: 16px;
}

/*.header_top_comp_2_title_12{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 375px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

/*.header_top_comp_2_title_13{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 425px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

/*.header_top_comp_2_title_14{*/
/*    position: absolute;*/
/*    margin-left: 1650px;*/
/*    margin-top: 450px;*/
/*    width: 300px;*/
/*    font-size: 21px;*/
/*}*/

.header_top_comp_2_title_2{
    position: absolute;
    margin-left: 1150px;
    margin-top: 610px;
    width: 200px;
    font-size: 26px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_2:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 635px;
    margin-top: 45px;
    margin-left: 3px;
}

.header_top_comp_2_title_211 {
    margin-top: 10px;
    margin-left: 20px;

}

.header_top_comp_2_title_21{
    position: absolute;
    margin-left: 1420px;
    margin-top: 615px;
    width: 340px;
    font-size: 16px;
}

.header_top_comp_2_title_3{
    position: absolute;
    margin-left: 1150px;
    margin-top: 810px;
    width: 230px;
    font-size: 25px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_311 {
    margin-top: 280px;
    margin-left: 20px;

}

.header_top_comp_2_title_31{
    position: absolute;
    margin-left: 1420px;
    margin-top: 545px;
    width: 320px;
    font-size: 16px;
}


.header_top_comp_2_title_4 {
    position: absolute;
    margin-left: 1850px;
    margin-top: 150px;
    width: 260px;
    font-size: 25px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_4:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 620px;
    margin-top: 67px;
    margin-left: -100px;
}

.header_top_comp_2_title_411 {
    margin-top: 10px;
    margin-left: 5px;

}

.header_top_comp_2_title_41{
    position: absolute;
    margin-left: 2135px;
    margin-top: 157px;
    width: 350px;
    font-size: 16px;
}


.header_top_comp_2_title_5{
    position: absolute;
    margin-left: 1850px;
    margin-top: 340px;
    width: 200px;
    font-size: 26px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_5:after{
    position: absolute;
    content: '';
    border: 1px black solid;
    width: 650px;
    margin-top: 85px;
    margin-left: -160px;
}

.header_top_comp_2_title_511 {
    margin-top: 500px;
    margin-left: -25px;

}

.header_top_comp_2_title_51{
    position: absolute;
    margin-left: 2165px;
    margin-top: 125px;
    width: 350px;
    font-size: 16px;
}


.header_top_comp_2_title_6{
    position: absolute;
    margin-left: 1850px;
    margin-top: 320px;
    width: 200px;
    font-size: 28px;
    font-family: "Cera Pro Medium", sans-serif;
}

.header_top_comp_2_title_611 {
    margin-top: 10px;
    margin-left: -25px;

}


.header_top_comp_2_title_61{
    position: absolute;
    margin-left: 2165px;
    margin-top: 325px;
    width: 350px;
    font-size: 16px;
}





















.header_menu p{
    padding-left: 50px;
    margin-top: 7px;
    font-size: 20px;
}

.black_line{
    content: '';
    width: 2500px;
    border: 1px black solid;
    position: absolute;
    margin-top: 1200px;
    margin-left: -1400px;
}

.header_container_1{
    width: 2500px;
    height: 800px;
    margin-top: 1250px;
    position: absolute;
    background-color: rgba(246, 245, 245, 0.97);
    z-index: 1;
}

.header_container_1_title {
    color: black;
    width: 1450px;
    font-size: 40px;
    margin-left: 600px;
    font-weight: 700;
    font-family: "Cera Pro Regular",sans-serif;
    margin-top: 60px;
}

.header_container_1_title:after{
    content: '';
    border: 1.3px black solid;
    width: 1390px;
    position: absolute;
    margin-top: 130px;
    margin-left: -1170px;
}

.header_container_1_year{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 90px;
    margin-left: 600px;
}

.header_container_1_prod{
        color: black;
    margin-top: 145px;
    position: absolute;
    font-size: 21px;
    margin-left: 600px;

}

.header_container_1_num{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 90px;
    margin-left: 1000px;

}

.header_container_1_proekt{
            color: black;
    margin-top: 145px;
    position: absolute;
    font-size: 21px;
    margin-left: 1005px;
}

.header_container_1_bolee{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 90px;
    margin-left: 1400px;

}

.header_container_1_spec{
            color: black;
    margin-top: 145px;
    position: absolute;
    font-size: 21px;
    margin-left: 1402px;
}

.header_container_1_sobs{
    position: absolute;
    font-size: 40px;
    color: #18b472;
    margin-top: 90px;
    margin-left: 1750px;
}

.header_container_1_it{
            color: black;
    margin-top: 145px;
    position: absolute;
    font-size: 21px;
    margin-left: 1752px;
}

.header_container_2{
    position: absolute;
    width: 2500px;
    height: 600px;
    margin-top: 2000px;
    background-color: white;
        z-index: 1;
}

.header_container_2_2{
    margin-top: 80px;
}

.header_container_2_title{
    color: black;
    position: absolute;
    text-align: center;
    margin-left: 1090px;
    margin-top: -10px;
    font-size: 40px;
    font-family: "Cera Pro Bold", sans-serif;
}

.header_container_2_etap_1_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 640px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_1:after{
    content: '';
    border: 1px black solid;
    width: 320px;
    position: absolute;
    margin-top: -43px;
    margin-left: -56px;
}

.header_container_2_etap_1{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 600px;
}

.header_container_2_etap_1:before{
    color: black;
    content: 'Этап 1';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 50px;
}

.header_container_2_etap_2_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1032px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_2:after{
    content: '';
    border: 1px black solid;
    width: 320px;
    position: absolute;
    margin-top: -43px;
    margin-left: -76px;
}


.header_container_2_etap_2{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 965px;

}

.header_container_2_etap_2:before{
    color: black;
    content: 'Этап 2';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 75px;
}

.header_container_2_etap_3_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1425px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_3{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 1370px;
}

.header_container_2_etap_3:before{
    color: black;
    content: 'Этап 3';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 60px;
}

.header_container_2_etap_3:after{
    content: '';
    border: 1px black solid;
    width: 341px;
    position: absolute;
    margin-top: -43px;
    margin-left: -70px;
}

.header_container_2_etap_4_img{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 1840px;
    margin-top: 140px;
        padding: 10px 10px 10px 10px;
    border: 1px black solid;
    border-radius: 100%;
}

.header_container_2_etap_4{
    color: black;
    position: absolute;
    margin-top: 220px;
    font-size: 21px;
    margin-left: 1775px;
}

.header_container_2_etap_4:before{
    color: black;
    content: 'Этап 4';
    position: absolute;
    margin-top: -125px;
    font-size: 21px;
    margin-left: 70px;
}




.container_container_3{
    position: absolute;
    margin-top: 2600px;
    background-color: white;
    width: 2500px;
    height: 800px;
}

.header_our_partner{
    position: absolute;
    color: black;
    font-size: 40px;
    margin-left: 1100px;
}






.header_container_4{
    position: absolute;
    width: 2500px;
    height: 1000px;
    background-color: #000000;
    margin-top: 3400px;
}

.header_our_prem{
    font-size: 40px;
    font-family: "Cera Pro Medium", sans-serif;
    position: absolute;
    margin-left: 1050px;
    margin-top: 70px;
}

.header_our_uslugi_obol{
    width: 1250px;
    height: 700px;
    border: 2px #9c9ea9 solid;
    margin-left: 600px;
    margin-top: 220px;
    z-index: 999;
}

.header_our_uslugi_1{
    width: 125px;
    height: 700px;
    border-right: 1px #e9e9ea solid;
    position: absolute;
    background-color: #000000;
    margin-left: 10px;
}

.black-grey_1 {
    width: 600px;
    height: 700px;
    background-color: #f6f9ff;
    position: absolute;
    margin-left: 0px;
}

.header_our_uslugi{
    color: black;
}

.header_our_uslugi_geo{
    color: #f6f9ff;
    margin-top: 625px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.header_our_uslugi_geo_2{
    color: #000000;
    margin-top: 500px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}


.dop_1_title{

}

.dop_1_geo_1{
    color: black;
    font-family: "Cera Pro Light", sans-serif;
    width: 490px;
    margin-left: 75px;
    font-size: 16px;
    margin-top: -120px;
}















.header_our_uslugi_2{
    width: 125px;
    height: 700px;
    border-right: 1px #e9e9ea solid;
    position: absolute;
    background-color: #000000;
    margin-left: 150px;
}


.header_our_uslugi_cadastr{
    color: #f6f9ff;
    margin-top: 635px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.dop_blue-white{
    width: 125px;
    height: 700px;
    background-color: #000000;
    position: absolute;
    margin-left: 600px;
    z-index: 999;
}


.black-grey_2 {
    width: 600px;
    height: 700px;
    background-color: #f6f9ff;
    position: absolute;
    margin-left: 136px;
}

.header_our_uslugi_cadastr_2{
    color: #000000;
    margin-top: 590px;
    position: absolute;
    margin-left: 450px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_2_1{
    color: black;
    font-family: "Cera Pro Light", sans-serif;
    width: 490px;
    margin-left: 475px;
    font-size: 16px;
    margin-top: -80px;
}



















.header_our_uslugi_3{
    width: 125px;
    height: 698px;
    margin-top: 1px;
    position: absolute;
    background-color: #000000;
    margin-left: 290px;
    border-right: 1px #e9e9ea solid;
}

.header_our_uslugi_proekt{
    color: #f6f9ff;
    margin-top: 625px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.dop_blue-white_2{
    width: 125px;
    height: 700px;
    background-color: #000000;
    position: absolute;
    margin-left: 730px;
}

.black-grey_3 {
    width: 600px;
    height: 700px;
    background-color: #f6f9ff;
    margin-left: 275px;
}


.header_our_uslugi_proekt_2{
    color: #000000;
    margin-top: 510px;
    position: absolute;
    margin-left: 840px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_3_1{
    color: black;
    font-family: "Cera Pro Light", sans-serif;
    width: 450px;
    margin-left: 860px;
    font-size: 16px;
    margin-top: -80px;
    position: absolute;
}


















.header_our_uslugi_4{
    width: 125px;
    height: 698px;
    margin-top: 1px;
    position: absolute;
    background-color: #000000;
    margin-left: 425px;
    border-right: 1px #e9e9ea solid;
}

.header_our_uslugi_proekt_gaz{
    color: #f6f9ff;
    margin-top: 625px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.dop_blue-white_3{
    width: 125px;
    height: 700px;
    background-color: #000000;
    position: absolute;
    margin-left: 865px;
}

.black-grey_4 {
    width: 600px;
    height: 700px;
    background-color: #f6f9ff;
    margin-left: 415px;
}

.header_our_uslugi_proekt_gaz_2{
    color: #000000;
    margin-top: 630px;
    position: absolute;
    margin-left: 75px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_4_1{
    color: black;
    font-family: "Cera Pro Light", sans-serif;
    width: 450px;
    margin-left: 95px;
    font-size: 16px;
    margin-top: 40px;
    position: absolute;
}





















.header_our_uslugi_5{
    width: 125px;
    height: 698px;
    margin-top: 0px;
    position: absolute;
    background-color: #000000;
    margin-left: 560px;
        border-right: 1px #e9e9ea solid;
}

.header_our_uslugi_proekt_set{
    color: #ffffff;
    margin-top: 625px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.dop_blue-white_4{
    width: 125px;
    height: 700px;
    background-color: #000000;
    position: absolute;
    margin-left: 995px;
            border-right: 1px #e9e9ea solid;
}

.black-grey_5 {
    width: 600px;
    height: 700px;
    background-color: #f6f9ff;
    margin-left: 550px;
}

.header_our_uslugi_proekt_set_2{
    color: #000000;
    margin-top: 630px;
    position: absolute;
    margin-left: 75px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}

.dop_5_1{
    color: black;
    font-family: "Cera Pro Light", sans-serif;
    width: 450px;
    margin-left: 95px;
    font-size: 16px;
    margin-top: 40px;
    position: absolute;
}























.header_our_uslugi_6{
    width: 125px;
    height: 698px;
    margin-top: 0px;
    position: absolute;
    background-color: #000000;
    margin-left: 686px;
        border-right: 1px #e9e9ea solid;
}

.header_our_uslugi_proekt_wat{
    color: #ffffff;
    margin-top: 625px;
    position: absolute;
    margin-left: 60px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
}

.dop_blue-white_5{
    width: 125px;
    height: 700px;
    background-color: #000000;
    position: absolute;
    margin-left: 1125px;
            border-right: 1px #e9e9ea solid;
            border-bottom: 1px #e9e9ea solid;
}

.black-grey_6 {
    width: 595px;
    height: 700px;
    background-color: #f6f9ff;
    margin-left: 655px;
}


.header_our_uslugi_proekt_wat_2{
    color: #000000;
    margin-top: 630px;
    position: absolute;
    margin-left: 75px;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap;
    font-size: 30px;
    font-family: "Cera Pro Medium", sans-serif;
}









/*@keyframes pulsate {*/

/*  100% {*/

/*      box-shadow:*/
/*      0 0 4px #fff,*/
/*      0 0 4px #fff,*/
/*      0 0 5px #fff,*/
/*      0 0 6px #fff,*/
/*      0 0 7px #fff,*/
/*      0 0 8px #fff,*/
/*      0 0 9px #fff,*/
/*      0 0 10px #fff;;*/

/*  }*/

/*  0% {*/

/*    box-shadow:*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff,*/
/*      0 0 1px #fff;;*/

/*}}*/


/*.our_project_img_8:hover {*/
/*    opacity: 0.5;*/
/*    -webkit-transition: all 1s ease;*/
/*    -moz-transition: all 1s ease;*/
/*    -o-transition: all 1s ease;*/
/*    -ms-transition: all 1s ease;*/
/*    transition: all 1s ease;*/
/*}*/



/*.our_project_img_1:hover {*/
/*    filter: url(#ambilight);*/
/*}*/